<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="auth">
    <header class="auth__header"></header>
    <main class="auth__main">
        <div class="auth__form">
            <div class="auth__form-header">
                Чат
            </div>
            <div class="tabs">
                <div class="tabs__item tabs__item_active">
                    Вход
                </div>
                <div class="tabs__item">
                    Регистрация
                </div>
            </div>
            <div class="auth__form-body auth__form-body_active">
                <div class="auth__label">
                    Введите имя, фамилию (по желанию) и номер телефона
                </div>
                <div class="input">
                    <input class="input__control input__control_full-width" type="text" placeholder="Имя" />
                </div>
                <div class="input">
                    <input class="input__control input__control_full-width" type="text" placeholder="Фамилия" />
                </div>
                <div class="input">
                    <input class="input__control input__control_full-width" type="text" placeholder="Телефон" />
                </div>
                <button type="button" class="auth__button">Далее</button>
            </div>
            <div class="auth__form-body">
                <div class="auth__label">
                    Введите номер телефона
                </div>
                <div class="input">
                    <input class="input__control input__control_full-width" type="text" placeholder="Телефон" />
                </div>
                <button type="button" class="auth__button">Далее</button>
            </div>           
        </div>
    </main>
</body>
</html>