<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
</head>
<body>
    <div class="container">
        <aside class="friends">
            <div class="friends__header">
                <span class="friends__title">Friends</span>
                <span class="friends__count">82</span>
            </div>
            <ul class="friends__list">
                <li class="friends__list-item friends__list-item_online">
                    <figure class="avatar">
                        <img class="avatar__img" src="img/jpg/avatar.jpg" alt="avatar"/>
                        <figcaption class="avatar__caption">
                            Orlando Diggs
                        </figcaption>
                    </figure>
                </li>
                <li class="friends__list-item friends__list-item_online">
                    <figure class="avatar">
                        <img class="avatar__img" src="img/jpg/avatar.jpg" alt="avatar"/>
                        <figcaption class="avatar__caption">
                            Orlando Diggs
                        </figcaption>
                    </figure>
                </li>
                <li class="friends__list-item friends__list-item_online">
                    <figure class="avatar">
                        <img class="avatar__img" src="img/jpg/avatar.jpg" alt="avatar"/>
                        <figcaption class="avatar__caption">
                            Orlando Diggs
                        </figcaption>
                    </figure>
                </li>
                <li class="friends__list-item friends__list-item_offline">
                    <figure class="avatar">
                        <img class="avatar__img" src="img/jpg/avatar.jpg" alt="avatar"/>
                        <figcaption class="avatar__caption">
                            Orlando Diggs
                        </figcaption>
                    </figure>
                </li>
                <li class="friends__list-item friends__list-item_offline">
                    <figure class="avatar">
                        <img class="avatar__img" src="img/jpg/avatar.jpg" alt="avatar"/>
                        <figcaption class="avatar__caption">
                            Orlando Diggs
                        </figcaption>
                    </figure>
                </li>
                <li class="friends__list-item friends__list-item_online">
                    <figure class="avatar">
                        <img class="avatar__img" src="img/jpg/avatar.jpg" alt="avatar"/>
                        <figcaption class="avatar__caption">
                            Orlando Diggs
                        </figcaption>
                    </figure>
                </li>
            </ul>
        </aside>
        <main class="dialog">
            <section class="dialog__header">
                <div class="dialog__caption">
                    <span class="dialog__title">
                        Orlando Diggs
                    </span>
                    <svg class="dialog__star">
                        <use xlink:href="img/svg/icons-sprite.svg#star"></use> 
                    </svg>
                </div>
                <div class="dialog__menu">
                    <div class="input">
                        <input class="input__control" type="text" placeholder="Search..." />
                        <svg class="input__icon">
                            <use xlink:href="img/svg/icons-sprite.svg#search"></use>
                        </svg>
                    </div>
                </div>
            </section>
            <div class="delimiter"></div>
            <section class="dialog__main">
                <div class="message-list">
                    <div class="message-list__item">
                        <figure class="avatar">
                            <img class="avatar__img" src="img/jpg/avatar.jpg" alt="avatar"/>
                        </figure>
                        <div class="message-content">
                            <div class="message-content__header">
                                <span class="message-content__title">
                                    Nala Hester
                                </span>
                                <span class="message-content__time">
                                    11:54 AM
                                </span>
                            </div>
                            <p class="message-content__text">
                                Working from a van in Australia isn’t feasible if you need internet. It may have improved over the last years but I spent some time in a camper van around Tasmania and internet was a real problem (and Tasmania is tiny compared to the rest of the country).
                            </p>
                        </div>
                    </div>
                    <div class="message-list__date">
                        <span>Monday, October 22nd</span>
                    </div>
                    <div class="message-list__item">
                        <figure class="avatar">
                            <img class="avatar__img" src="img/jpg/avatar.jpg" alt="avatar"/>
                        </figure>
                        <div class="message-content">
                            <div class="message-content__header">
                                <span class="message-content__title">
                                    Nala Hester
                                </span>
                                <span class="message-content__time">
                                    11:54 AM
                                </span>
                            </div>
                            <p class="message-content__text">
                                <a href="#" class="reference">@pierrhack</a> hello, I'm working on it!)
                            </p>
                        </div>
                    </div>
                    <div class="message-list__date">
                        <span>Today</span>
                    </div>
                    <div class="message-list__item">
                        <figure class="avatar">
                            <img class="avatar__img" src="img/jpg/avatar.jpg" alt="avatar"/>
                        </figure>
                        <div class="message-content">
                            <div class="message-content__header">
                                <span class="message-content__title">
                                    Nala Hester
                                </span>
                                <span class="message-content__time">
                                    12:54 PM
                                </span>
                            </div>
                            <p class="message-content__text">
                               Good news, bro!!
                            </p>
                        </div>
                    </div>
                    <div class="message-list__item">
                        <figure class="avatar">
                            <img class="avatar__img" src="img/jpg/avatar.jpg" alt="avatar"/>
                        </figure>
                        <div class="message-content">
                            <div class="message-content__header">
                                <span class="message-content__title">
                                    Nala Hester
                                </span>
                                <span class="message-content__time">
                                    12:54 PM
                                </span>
                            </div>
                            <p class="message-content__text">
                               Good news, bro!!
                            </p>
                            <figure class="message-content__picture">
                                <img class="message-content__image" src="img/jpg/avatar.jpg" alt="image"/>
                            </figure>
                        </div>
                    </div>
                    <div class="message-list__item">
                        <figure class="avatar">
                            <img class="avatar__img" src="img/jpg/avatar.jpg" alt="avatar"/>
                        </figure>
                        <div class="message-content">
                            <div class="message-content__header">
                                <span class="message-content__title">
                                    Nala Hester
                                </span>
                                <span class="message-content__time">
                                    11:54 AM
                                </span>
                            </div>
                            <p class="message-content__text">
                                <a href="#" class="reference">@pierrhack</a> @aa_da What's the reason for the van? Saving money or just like to get outside? If you've got a stable source of income you could always do some short term Airbnbs + buy a truck/topper, build a platform in the back. That way you can always convert it back to a truck and sleep in an apartment if you want.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <div class="delimiter"></div>
            <section class="dialog__footer">
                <svg class="clip">
                    <use xlink:href="img/svg/icons-sprite.svg#clip"></use> 
                </svg>
                <svg class="microphone">
                    <use xlink:href="img/svg/icons-sprite.svg#microphone"></use>
                </svg>
                <textarea class="dialog__comment comment" placeholder="Enter message"></textarea>
            </section>
        </main>
        <aside class="current-friend">
            <figure>
                <img src="img/jpg/avatar.jpg" alt="friend" class="current-friend__avatar" />
                <figcaption>
                    <div class="current-friend__name">
                        Eugen Guziy
                    </div>
                    <div class="current-friend__desc">
                        Web Developer
                    </div>
                </figcaption>
            </figure>
            <div class="current-friend__container">
                <section class="social">
                    <span class="social__icon">
                        <svg class="facebook">
                            <use xlink:href="img/svg/icons-sprite.svg#facebook"></use>
                        </svg>      
                    </span>
                    <span class="social__icon">
                        <svg class="twitter">
                            <use xlink:href="img/svg/icons-sprite.svg#twitter"></use>
                        </svg>   
                    </span>
                    <span class="social__icon">
                        <svg class="instagramm">
                            <use xlink:href="img/svg/icons-sprite.svg#instagramm"></use>
                        </svg>
                    </span>
                    <span class="social__icon">
                        <svg class="linked-in">
                            <use xlink:href="img/svg/icons-sprite.svg#linked-in"></use>
                        </svg>   
                    </span>
                </section>
                <ul class="contacts">
                    <li class="contacts__item">
                        <div class="contacts__caption">
                            Username
                        </div>
                        <div class="contacts__value">
                            @eguziy
                        </div>
                    </li>
                    <li class="contacts__item">
                        <div class="contacts__caption">
                            Email
                        </div>
                        <div class="contacts__value">
                            qwerty123@prfdf.de
                        </div>
                    </li>
                    <li class="contacts__item">
                        <div class="contacts__caption">
                            Skype
                        </div>
                        <div class="contacts__value">
                            sdsdsdc454
                        </div>
                    </li>
                </ul>
            </div>
        </aside>
    </div>
</body>
</html>