.auth {
    &__header {
        height: 200px;
        background: linear-gradient(#1e1e20, #25272A);

        @include mobile-xs {
            display: none;
        }
    }

    &__form {
        position: fixed;
        top: 128px;
        left: 50%;
        transform: translateX(-50%);

        &-header {
            color: $white;
        }
    }

    &__form-body {
        background-color: $white;
        display: none;
        padding: 10px;

        &_active {
            display: block;
        }

        .input {
            margin-top: 20px;
        }
    }

    &__button {
        margin-top: 20px;
        width: 100%;
        appearance: none;
        border: 0;
        border-radius: 5px;
        @include setAlpha(background, $violet, 0.8);
        color: white;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;

        &:hover {
            cursor: pointer;
            @include setAlpha(background, $violet, 1);
        }
    }

    &__label {
        word-wrap: break-word;
    }
}