.avatar {
    display: flex;
    align-items: center;

    &__img {
        height: 30px;
        width: 30px;
        border-radius: 50%;
    }

    &__caption {
        margin-left: 10px;

        &:hover {
            color: $white;
            cursor: pointer;
        }
    }
}   