.comment {
    outline: none;
    border: none;
    -moz-appearance: none;
    resize: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    padding-top: 17px;
}