.contacts {
    margin-top: 14px;

    &__item {
        & + & {
            margin-top: 11px;
        }
    }

    &__caption {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: $dark-gray;
    }

    &__value {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: $black;
    }
}