.current-friend {
    max-width: 200px;
    background: linear-gradient(180deg, rgba(207,207,215,1) 9%, rgba(159,170,169,1) 100%);

    &__avatar {
        $width: 100%;
        width: 100%;
        height: $width;
    }

    &__name, &__desc {
        padding-left: 20px;
        padding-right: 20px;
    }

    &__name {
        margin-top: 15px;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        color: $black;
    }

    &__desc {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: $dark-gray;
        margin-top: 3px;
    }

    &__container {
        padding: 10px 20px 0 20px;
    }
}