.friends {
    margin-top: 20px;
    
    @include mobile-xs {
        width: 100%;
        flex-basis: 100%;
    }

    &__header {
        display: flex;
        justify-content: space-between;
    }
    
    &__title {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
    }

    &__count {
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
    }

    &__list {
        height: 100%;
        overflow-y: scroll;
        &-item {
            list-style-type: none;
            position: relative;

            &_online:before, &_offline:before {
                content: '';
                display: inline-block;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: -15px;
                transform: translateY(-50%);
            }

            &_online::before {
                background: $online-color;
            }

            &_offline::before {
                background: $offline-color;
            }

            &:first-child {
                margin-top: 20px;
            }

            & + & {
                margin-top: 10px;
            }
        }
    }
}