$message-list: message-list;

.#{$message-list} {
    &__item {
        display: flex;

        & + &,  & + .#{$message-list}__date {
            margin-top: 14px;
        }

        .#{$message-list}__date + & {
            margin-top: 28px;
        }
    }

    &__date {
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;
        color: $gray-text;
        position: relative;

        &::after {
            content: '';
            display: inline-block;
            height: 1px;
            width: 100%;
            background: $border-color;
            position: absolute;
            top: 50%;
        }

        & span {
            display: inline-block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background: $white;
            padding-left: 8px;
            padding-right: 8px;
            z-index: 2;
        }
    }
}