/* Common colors */
$green: #70CC16;
$gray: #666666;
$dark-gray: #5F6164;
$white: #FFFFFF;
$black: #000000;

/* Thematic colors */
$online-color: $green;
$offline-color: $gray;
$gray-text: #B5B5B5;
$border-color: rgba(0, 0, 0, 0.24);