/* Common colors */
$green: #70CC16;
$gray: #666666;
$dark-gray: #5F6164;
$white: #FFFFFF;
$black: #000000;
$violet: rgb(21%, 47%, 94%);

/* Thematic colors */
$online-color: $green;
$offline-color: $gray;
$gray-text: #B5B5B5;
$border-color: rgba(0, 0, 0, 0.24);

/* Resolutions */
$mobile-width: 360px;
$tablet-width: 768px;
$desktop-width: 1024px;
$desktop-wide: 1160px;